/*Global*/
* {
  padding: 0;
  margin: 0;
}

/*width: 100vw; and height: 100vh stretch to the full width and height of the device*/
.app-container {
  padding: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  /*grid-template-rows: 5% 15% 7.5% 7.5% 5% 55% 5%;*/
  grid-template-areas:
    "logo"
    "moto"
    "start"
    "browser"
    "legend"
    "loginReg"
    "linkHome";
  /*grid-template-rows: auto;*/
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.logoImg {
  object-fit: cover;
  width: 85%;
}

.moto,
.start,
.legend {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.motoTxt,
.startTxt,
.legendTxt {
  padding: 0;
  margin:0;
  text-align: center;
  color: tomato;
  font-weight: bolder;
}

.motoTxt,
.legendTxt {
  font-size: 5vw;
}

.startTxt {
  font-size: 7.5vw;
}

.loginReg {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
  align-items: center;
}